.image_link {
    text-decoration: none;
    width: 2em;
    height: 2em;
    margin: .1em;
}

.svg_link_image {
    fill: grey;
    width: 2em;
    height: 2em;
    transition: 1s;
    border-radius: 50%;
}

.svg_link_image:hover {
    width: 2.3em;
    height: 2.3em;
}