.button_container {
    margin: 0 5px 0;
    width: 12%;
}

.button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #7E131D;

    border: none;
    border-radius: 2rem;

    opacity: 65%;
    transition: 300ms;
}

.button:hover {
  opacity: 100%;
}